@layout LoginLayout
@page "/"
@using xCorporate.Data
@inject NavigationManager navigate;
@inject AuthenticationStateProvider auth;
@using xCorporate.Service;

<AuthorizeView>
    <Authorized>
        <h1>Authorizado</h1>
    </Authorized>
    <NotAuthorized>
        <h1>No Authorizado</h1>
    </NotAuthorized>
</AuthorizeView>
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
        <img id="imgFirstLogo" class="rounded mx-auto d-block mt-3 mb-3" src="/templateadmin/dist/img/Xirect.png" style="max-width:50%;">
      <h5>xCorporate</h5>
    </div>
    <EditForm Model ="@usuario" OnValidSubmit="LoginSession">
        <div class="card-body">
          <p class="login-box-msg">Enter with your Credentials</p>

          <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
              <InputText @bind-Value="usuario.Name" class="form-control" placeholder="Name" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <InputText @bind-Value="usuario.Password" class="form-control" placeholder="Password" type="password" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <!-- /.col -->
            </div>
          </form>

          <div class="social-auth-links text-center mt-2 mb-3">
            <a href="home" class="btn btn-block btn-primary"> LOGIN </a>
          </div>
          <p class="mb-1">
            <a href="#">I forgot my password</a>
          </p>
        </div>
    </EditForm>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>


@code {
    public Usuario usuario = new Usuario();

    public async void LoginSession()
    {
        //usuario-> admin contraseña->1234
        if(usuario.Name =="admin" && usuario.Password == "1234")
        {
            ((AuthenticationService)auth).Ingresar("1");
            navigate.NavigateTo("/home");
        }
    }
}